@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>"Do not hesitate to contact us if there is anything!"</h3>

<address>
    Gpios<br />
    Polytechnique Montreal<br />
    <abbr title="Phone">P:</abbr>
    514.687.5622
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thegpios@gmail.com">thegpios@gmail.com</a><br />
</address>