@{
    ViewBag.Title = "Home Page";
}


<img src="~/fonts/index_image.jpg" alt="Code together!" class="img-responsive">

<div class="jumbotron">       
    <h1>FinishItForMe</h1>
    <p class="lead">FinishItForMe is a free website to add and achieve new idea with the help of a large number of people</p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Major problem to solve" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Start now!</span>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            FinishItForMe gives you the hability to collaborate on importante issues of our modern society.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How can I help</h2>
        <p>Any one can give his help to a project. You don't need to be a programmer to involved on FinishItForMe, not all problem can be solved with code, that's why we need everyone!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donation</h2>
        <p>Help us to achieve more!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
